<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>404725809868-2uodatjf0fa0o5tgrikfemhffkgft1ih.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.404725809868-2uodatjf0fa0o5tgrikfemhffkgft1ih</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>404725809868-050pajf0b67n37lor2fdic492o70lrf3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAuB9567ckwWziA6yearSEoB4xtsd3CXMY</string>
	<key>GCM_SENDER_ID</key>
	<string>404725809868</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ynov.matchWork</string>
	<key>PROJECT_ID</key>
	<string>matchwork-173d9</string>
	<key>STORAGE_BUCKET</key>
	<string>matchwork-173d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:404725809868:ios:129344d35998fada0df869</string>
	<key>DATABASE_URL</key>
	<string>https://matchwork-173d9.firebaseio.com</string>
</dict>
</plist>